<footer>
  <div class="wrap">
    <div class="foot">
      <div>
        <a class="brand" href="{{ '/' | relative_url }}" aria-label="Level X home">
          <img class="mark" src="{{ '/assets/img/logo-mark.svg' | relative_url }}" alt="" width="30" height="30">
          <span class="word">level&nbsp;x</span>
        </a>
        <p class="foot-about">An independent studio building calm, careful apps for kids and families.</p>
      </div>
      <div>
        <h4>Apps</h4>
        <ul>
          <li><a href="{{ '/#apps' | relative_url }}">Pausely</a></li>
          <li><a href="{{ '/#apps' | relative_url }}">Prevail</a></li>
          <li><a href="{{ '/#apps' | relative_url }}">OffMyMind</a></li>
        </ul>
      </div>
      <div>
        <h4>Studio</h4>
        <ul>
          <li><a href="{{ '/#studio' | relative_url }}">About</a></li>
          <li><a href="{{ '/blog/' | relative_url }}">Notes</a></li>
          <li><a href="{{ '/' | relative_url }}#contact">Contact</a></li>
          <li><a href="https://levelxinc.github.io/" rel="noopener">Privacy &amp; policies</a></li>
        </ul>
      </div>
    </div>
    <div class="foot-bottom">
      <p>&copy; <span id="yr">2026</span> Level X Consulting LLC. All rights reserved.</p>
      <p>Made with care</p>
    </div>
  </div>
</footer>
