<header id="hdr">
  <div class="wrap nav">
    <a class="brand" href="{{ '/' | relative_url }}" aria-label="Level X home">
      <img class="mark" src="{{ '/assets/img/logo-mark.svg' | relative_url }}" alt="" width="30" height="30">
      <span class="word">level&nbsp;x</span>
    </a>
    <nav class="nav-links" aria-label="Primary">
      <a href="{{ '/#apps' | relative_url }}">Apps</a>
      <a href="{{ '/#studio' | relative_url }}">Studio</a>
      <a href="{{ '/blog/' | relative_url }}">Notes</a>
      <a class="nav-cta" href="{{ '/' | relative_url }}#contact">Get in touch</a>
    </nav>
  </div>
</header>
